.Header1 { 
	grid-area:Header;
	background-color:coral;
	height:50px;	
}
.top1 { 
	grid-area:tops; 
	background-color:orange;
	height: 50px;	
}
.navigation1 { grid-area:navigation; 
	background-color: blue;	
	height: 50px;	
}
.menu1 { 
	grid-area:menu;
	background-color: green;
	height: 50px;	
}
.content1{ 
	grid-area:contentss;
	background-color:brown;
	height:50px;	
}
.about1{ 
	grid-area: about;
	background-color:pink;
	height:50px;	
}
.bot1{ 
	grid-area: bot;
	background-color:yellow;
	height:50px;	
}
.Footer1{ 
	grid-area:Footer;
	background-color: orange;
	height: 50px;	
}
.container{
	display:grid;
	grid-template-areas:
		'Header Header Header'
		'tops tops tops'
		'navigation navigation navigation'
		'menu contentss contentss'
		'about about about'
		'bot bot bot '
		'Footer Footer Footer';	
}

